body {
	background: #4d3e3e
}

#title {
	padding: 8%;
}

#maintitle {
	padding: 15%;
}

h2 {
	text-align: center;
	font-size: 300%;
	color: #fff3cd;
}

.headings {
	text-align: center;
	color: #ffc38b;
	font-size: 150%;
}


li, p{
	font-family: Calibri;
	font-size: 120%;
	color: #ff926b;
	padding: 5px 0px;
	
}

a {
	text-decoration: none;
	color: inherit;
}

a:hover {
	color: #fff3cd;
	font-size: 120%;
}

#footer {
	font-size: 100%;
	color: #fff3cd;
	text-align: center;
	font-weight: normal
}