body {
	background: #4d3e3e
}

#title {
	padding: 8%;
}

#maintitle {
	padding: 15%;
}

h2 {
	text-align: center;
	font-size: 300%;
	color: #fff3cd;
}

.headings {
	text-align: center;
	color: #ffc38b;
	font-size: 150%;
}



li,a, p{
	font-family: Calibri;
	font-size: 120%;
	color: #ff926b;
	padding: 5px 0px;
	text-decoration: none
}